<body class="w">
    <div id="website_title">
	    <h1>Disease Map</h1>
	</div>
    <nav class="nav">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="contact.html">Profile</a></li>
        </ul>
    </nav>
  <div id="alert">Click alerts</div>
  <div id="map2" style="width: 900px; height: 900px;"></div>
    <div class="main clearfix">   
	     </div>
	<footer class="footer">
    </footer>
